.cta {

  color: #3CC777;

}

.cta:hover {

  color: #43DE83;

  text-decoration: underline;

}

.cta:active {

  color: #3AB06B;

}

.text-title1 {

  font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;

  font-size: 1rem;

  font-weight: 700;

  line-height: 1.3rem;

  color: #FCFCFC;

}

.text-descriptive1 {

  font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;

  font-size: 0.8rem;

  font-weight: 400;

  line-height: 1.1rem;

  color: #919294;

}